.logo {
  /* font-family: "Bungee Shade"; */

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  transition: transform 0.4s;
  border-radius: var(--mantine-radius-lg);
  border: 1px solid transparent;
  border-bottom: 4px solid transparent;
  transition: border 0.1s;

  &:hover {
    /* transform: scale(0.9); */
    border-radius: var(--mantine-radius-lg);
    border: 1px solid var(--mantine-color-yellow-6);
    border-bottom: 4px solid var(--mantine-color-yellow-6);
  }
}
