@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* ---- VARIABLES ---- */

  --header-p-y: 1.875rem;
  --header-h: 3.75rem;
  --header-border-size: 1px;

  --footer-p-y: 1.875rem;
  --footer-h: 3.75rem;

  --minPageContentHeight: calc(
    100vh - var(--header-h) - var(--header-border-size)
  );

  /* ---- FONTS ---- */

  /* Bungee-Shade */
  @font-face {
    font-family: "Bungee Shade";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/bungee-shade@latest/latin-400-normal.woff2)
        format("woff2"),
      url(https://cdn.jsdelivr.net/fontsource/fonts/bungee-shade@latest/latin-400-normal.woff)
        format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* Purple-Magic */
  @font-face {
    font-family: "Purple Magic SVG-SVG";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/fonts/PurpleMagicSvg.otf) format("opentype");
  }

  /* Reenie Beanie */
  @font-face {
    font-family: "Reenie Beanie";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/fonts/ReenieBeanie-Regular.ttf) format("truetype");
  }

  /* Rock Salt */
  @font-face {
    font-family: "Rock Salt";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/fonts/RockSalt-Regular.ttf) format("truetype");
  }
}

.add-page-form-wrapper {
  border: 1px solid var(--mantine-color-gray-6);
  box-shadow: "var(--mantine-shadow-sm)";
  margin: 80px auto;
  padding: 20px;
}

/* var(--mantine-breakpoint-sm) */
@media (max-width: 48em) {
  .add-page-form-wrapper {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 40px;
  }
}

@layer components {
  .thin-banner {
    width: 100%;
    border-radius: var(--mantine-radius-lg);
    overflow: hidden;
  }
}
